body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	background: url(2.jpg)no-repeat;
	background-size: cover;
	background-position: center;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.container{
	height: 75vh;
	width: 30%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 20px;
}

.img{
	height: 70px;
	width: 70px;
	background: black;
	border-radius: 50px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.container h1{
	color: white;
	margin-top: 50px;

}

.container h3{
	color: white;
	margin-top: -20px;
	margin-right: 200px;

}

.container p{
	color: white;
	margin-top: 60px;
	font-size: large;
}

.btn{
	background: no-repeat;
	outline: none;
	border: 1px solid white;
	color: white;
	width: 50%;
	padding: 7px 15px;
	font-size: large;
	cursor: pointer;
	transition: 0.3s ease;
	margin-top: 50px;
}

.btn:hover{
	background: white;
	color: black;
}